.wrapper {
	width: 385px;
	margin: 0px auto;
}

#slider {
	margin: 10px auto;
	width: 385px;
	height: 488px;
	overflow: hidden;
}

#slider > img {
	width: 385px;
	height: 488px;
	float: left;
	display: none;
}

a {
	padding: 5px 10px;
	background-color: #F0F0F0;
	margin-top: 30px;
	text-decoration: none;
	color: #666;
}

a.left{
	float: left;
}

a.right {
	float: right;
}