html {
	margin: 0; padding: 0;
	background-color: #1b1b24;
}

body {
	margin: 0; padding: 0;
}

.header {
	background-color: #35343e;
	padding: 10px;
	color: #1b1b24;
	text-align: center;
	font-size: 35px;
	margin-bottom: 30px;
}

.wrapper {
	margin: 0 auto;
	width: 339px; height: 429px;
}

.left {
	float: left;
}

.right {
	float: right;
}

#slider {
	width: 339px; height: 429px;
	margin: 0 auto;
	overflow: hidden;
}

img {
	width: 339px; height: 429px;
	display: none;
}

a {
	margin-top: 30px;
	padding: 5px 10px;
	background-color: #35343e;
	text-decoration: none;
	color: #1b1b24;
	border-radius: 3px;
}